node_modules/
.github/
.zed/
.turbo/
.devcontainer/

vercel.json
turbo.json

.env
.env.local
.env.development
.env.test
.env.staging
.env.production

.vercel/

.npmrc.github
.npmrc.npmjs

PLAN.md
CLAUDE.md
