SCHEMAVAULTS_APP_ENVIRONMENT="production"
NEXT_PUBLIC_SCHEMAVAULTS_APP_ENVIRONMENT="production"

POSTGRES_URL=""
POSTGRES_PRISMA_URL=""
POSTGRES_URL_NO_SSL=""
POSTGRES_URL_NON_POOLING=""
POSTGRES_USER=""
POSTGRES_HOST=""
POSTGRES_PASSWORD=""
POSTGRES_DATABASE=""

# Storing Passwords
PRIVATE_GLOBAL_PASSWORD_SALT="blahblahblah"
PRIVATE_PASSWORD_HASH_ROUNDS=3

# Attempting to register with this code, if set, will create a single-use admin invite code
PRIVATE_SUPERUSER_INVITE_CODE="secret"
