POSTGRES_URL=""
POSTGRES_PRISMA_URL=""
POSTGRES_URL_NO_SSL=""
POSTGRES_URL_NON_POOLING=""
POSTGRES_USER=""
POSTGRES_HOST=""
POSTGRES_PASSWORD=""
POSTGRES_DATABASE=""

# Storing Passwords
PRIVATE_GLOBAL_PASSWORD_SALT="blahblahblah"
PRIVATE_PASSWORD_HASH_ROUNDS=3

# Secrets for signing JWTs
PRIVATE_JWT_SIGNING_SECRET="base64url-encoded RSA private signing key"
PUBLIC_JWT_SIGNING_VERIFIER="base64url-encoded RSA public signing key"
PRIVATE_JWT_ENCRYPTION_SECRET="hello123blahblahhello123blahblahhello123blahblah"
PRIVATE_JWT_DECRYPTION_SECRET="hello789blahblahhello789blahblahhello789blahblah"

# Allow pulling @schemavaults/* packages from GitHub Packages
SCHEMAVAULTS_GITHUB_PACKAGE_REGISTRY_USER="jalexw"
SCHEMAVAULTS_GITHUB_PACKAGE_REGISTRY_TOKEN="blahblahblah"
