SCHEMAVAULTS_APP_ENVIRONMENT="production"
NEXT_PUBLIC_SCHEMAVAULTS_APP_ENVIRONMENT="production"
SCHEMAVAULTS_API_SERVER_ID="schemavaults-auth"

POSTGRES_URL=""
POSTGRES_PRISMA_URL=""
POSTGRES_URL_NO_SSL=""
POSTGRES_URL_NON_POOLING=""
POSTGRES_USER=""
POSTGRES_HOST=""
POSTGRES_PASSWORD=""
POSTGRES_DATABASE=""

# Storing Passwords
PRIVATE_GLOBAL_PASSWORD_SALT="blahblahblah"
PRIVATE_PASSWORD_HASH_ROUNDS=3

# Attempting to register with this code, if set, will create a single-use admin invite code
PRIVATE_SUPERUSER_INVITE_CODE="secret"

# NEXT_INCLUDE_PRODUCTION_SOURCE_MAPS="true"
# NEXT_STANDALONE_DOCKER_BUILD="true"

# Requires an invite code to sign up at this stage
NEXT_PUBLIC_SCHEMAVAULTS_PRIVATE_BETA="true"
